@font-face {
  font-family: 'Funnel Sans';
  src: url('../assets/fonts/FunnelSans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  --fg: hsl(0, 0%, 87%);
  --fg-dark: hsl(0, 0%, 70%);
  --fg-darker: hsl(0, 0%, 60%);

  --region-light: hsl(0, 0%, 11%);
  --region: hsl(0, 0%, 8%);

  --secondary-lighter: hsl(0, 0%, 24%);
  --secondary-light: hsl(0, 0%, 21%);
  --secondary: hsl(0, 0%, 17%);
  --secondary-dark: hsl(0, 0%, 14%);

  --border-light: hsl(0, 0%, 29%);
  --border: hsl(0, 0%, 23%);
  --border-dark: hsl(0, 0%, 18%);
  --border-darker: hsl(0, 0%, 15%);
  --border-radius: 7px;

  --scrollbar: hsl(0, 0%, 31%);
  --scrollbar-hover: hsl(0, 0%, 43%);

  --danger-fg: hsl(352, 65%, 52%);
  --danger-region-light: hsl(352, 40%, 32%);
  --danger-region: hsl(352, 40%, 23%);
  --danger-region-dark: hsl(352, 13%, 15%);

  --version-fg: hsl(157, 65%, 52%);
  --version-region-light: hsl(157, 40%, 32%);
  --version-region: hsl(157, 40%, 23%);
  --version-region-dark: hsl(157, 13%, 15%);

  --control-padding-1: 2px 5px;
  --control-padding-2: 3px 5px;

  font-family: 'Funnel Sans', sans-serif;
  font-weight: normal;
  font-size: 14px;
  color: var(--fg);
  user-select: none;

  width: 100%;
  height: 100%;
  color-scheme: dark;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

::selection {
  background-color: color-mix(in srgb, var(--fg) 27%, transparent);
}

:focus {
  outline: none;
}

* {
  -webkit-tap-highlight-color: transparent;
}
